.search-container {
    position: absolute;
    top: 20%;
    left: 20px;
    right: 20px;
    margin: auto;
    max-width: 600px;

    #searchInput {
        border-radius: 0 20px 20px 0;
    }

    .search-input-icon {
        border-radius: 20px 0 0 20px;
    }

    #searchButton {
        padding-left: 25px;
        padding-right: 25px;
    }
}
